<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="main/militaries">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Militaries</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="main/countries" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-circle-outline menu-icon"></i>
        <span class="menu-title">Countries</span>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="main/skill">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Skills</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="main/bases">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Military bases</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="main/garisons">
        <i class="mdi mdi-emoticon menu-icon"></i>
        <span class="menu-title">Garisons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="main/militarieskill">
        <i class="mdi mdi-emoticon menu-icon"></i>
        <span class="menu-title">Militaries Skills</span>
      </a>
    </li>
  </ul>
</nav>